/* line 5, ../source/repos/xt-net-web-final/xt-net-web-final/Final.PL/Content/scss/_header.scss */
header {
  position: sticky;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  padding: 10px;
  height: 60px;
}

/* line 12, ../source/repos/xt-net-web-final/xt-net-web-final/Final.PL/Content/scss/_header.scss */
header #header-logo {
  display: inline-block;
  background: url(../img/header-logo.png) no-repeat;
  background-size: contain;
  width: 60px;
  height: 40px;
}

/* line 20, ../source/repos/xt-net-web-final/xt-net-web-final/Final.PL/Content/scss/_header.scss */
header #header-content {
  display: none;
}

/* line 24, ../source/repos/xt-net-web-final/xt-net-web-final/Final.PL/Content/scss/_header.scss */
header #header-login-menu {
  width: 15rem;
}

@media (min-width: 576px) {
  /* line 31, ../source/repos/xt-net-web-final/xt-net-web-final/Final.PL/Content/scss/_header.scss */
  header #header-content {
    display: initial;
  }
}

/* line 11, ../source/repos/xt-net-web-final/xt-net-web-final/Final.PL/Content/scss/main.scss */
body {
  background-color: #f8f9fa;
  color: #333;
}

/* line 16, ../source/repos/xt-net-web-final/xt-net-web-final/Final.PL/Content/scss/main.scss */
header, .forum-group .forum-group-name {
  background-color: #fa7000;
  color: white;
}

/* line 21, ../source/repos/xt-net-web-final/xt-net-web-final/Final.PL/Content/scss/main.scss */
.forum-group {
  border: 3px solid #fa7000;
  border-radius: 5px;
}

/* line 26, ../source/repos/xt-net-web-final/xt-net-web-final/Final.PL/Content/scss/main.scss */
.forum-group ul.forums > li {
  border-bottom: 1px solid #fa7000;
  margin: 0;
  padding: 0.25rem 0.75rem;
}

/* line 35, ../source/repos/xt-net-web-final/xt-net-web-final/Final.PL/Content/scss/main.scss */
.forum-group .forum-group-name {
  padding: 0.25rem 0.75rem;
}

/* line 40, ../source/repos/xt-net-web-final/xt-net-web-final/Final.PL/Content/scss/main.scss */
.forum-group ul.forums {
  display: block;
  margin: 0;
  padding: 0;
}

/* line 45, ../source/repos/xt-net-web-final/xt-net-web-final/Final.PL/Content/scss/main.scss */
.forum-group ul.forums > li {
  display: block;
  list-style: none;
}

/* line 50, ../source/repos/xt-net-web-final/xt-net-web-final/Final.PL/Content/scss/main.scss */
.forum-group ul.forums > li a:hover {
  text-decoration: none;
}

/* line 54, ../source/repos/xt-net-web-final/xt-net-web-final/Final.PL/Content/scss/main.scss */
.forum-group ul.forums > li .forum-name {
  color: #fa7000;
  font-weight: bold;
}

/* line 59, ../source/repos/xt-net-web-final/xt-net-web-final/Final.PL/Content/scss/main.scss */
.forum-group ul.forums > li .forum-description {
  color: #495057;
}

/* line 64, ../source/repos/xt-net-web-final/xt-net-web-final/Final.PL/Content/scss/main.scss */
.forum-group ul.forums > li:hover {
  background-color: rgba(128, 128, 128, 0.1);
}

/* line 68, ../source/repos/xt-net-web-final/xt-net-web-final/Final.PL/Content/scss/main.scss */
.forum-group ul.forums > li:last-child {
  border-bottom: none;
}

/* line 74, ../source/repos/xt-net-web-final/xt-net-web-final/Final.PL/Content/scss/main.scss */
.thread-main {
  margin-bottom: 1rem;
}

/* line 81, ../source/repos/xt-net-web-final/xt-net-web-final/Final.PL/Content/scss/main.scss */
.post-group .post {
  background-color: rgba(128, 128, 128, 0.1);
  margin: 0.25rem 0;
  padding: 0.25rem 0.75rem;
}

/*# sourceMappingURL=main.css.map */