@using Final.PL.Models;
@{
    Page.Title = "Admin panel";
    Layout = "~/Layouts/_MainLayout.cshtml";

    if (!User.IsInRole("Admin"))
    {
        Response.StatusCode = 403;
        return;
    }
}

<div class="post-group mb-3">
    @foreach (var user in AppData.UserLogic.GetAll())
    {
        <div class="post">
            @user.Username
            @if (Roles.IsUserInRole(user.Username, "Admin"))
            {
                <span class="badge badge-secondary">!</span>
            }
        </div>
    }
</div>

<form action="~/Pages/DeleteUser" method="post">
    <select name="id" class="form-group form-control">
        @foreach (var user in AppData.UserLogic.GetAll())
        {
            if (!Roles.IsUserInRole(user.Username, "admin"))
            {
                <option value="@user.Id">@user.Username</option>
            }
        }
    </select>
    <input type="submit" disabled class="btn btn-primary" name="action" value="Delete" />
</form>