@using Final.PL.Models;
@{
    Page.Title = "Login";
    Layout = "~/Layouts/_MainLayout.cshtml";

    bool loginError = false;

    if (IsPost)
    {
        string username = Request["username"];
        string password = Request["password"];

        if (AuthModel.Authorize(username, password))
        {
            FormsAuthentication.SetAuthCookie(username,
                createPersistentCookie: true);
            Response.Redirect("~/");
            return;
        }
        else
        {
            loginError = true;
        }
    }
    else
    {
        if (Convert.ToBoolean(Request["logout"]))
        {
            FormsAuthentication.SignOut();
            Response.Redirect("~/");
            return;
        }
    }
}

<h3>Login</h3>
@if (loginError)
{
    <div class="alert alert-danger" role="alert">
        <span class="sr-only">Error: </span>
        Couldn't match provided login and password
    </div>
}
<form action="~/Pages/Login" method="post">
    <input type="text" required name="username" placeholder="Username" class="form-control mb-3" />
    <input type="password" required name="password" placeholder="********" class="form-control mb-3" />
    <input type="submit" value="Login" class="btn btn-primary" />
</form>