@using Final.PL.Models;
@{
    Page.Title = "Login";
    Layout = "~/Layouts/_MainLayout.cshtml";

    if (IsPost)
    {
        string username = Request["username"];
        string password = Request["password"];

        if (AuthModel.Authorize(username, password))
        {
            FormsAuthentication.SetAuthCookie(username,
                createPersistentCookie: true);
            Response.Redirect("~");
        }
        else
        {
        }
    }
    else
    {
        if (Convert.ToBoolean(Request["logout"]))
        {
            FormsAuthentication.SignOut();
            Response.Redirect("~");
        }
    }
}

<h3>Login</h3>
<form action="~/Pages/Login" method="post">
    <input type="text" name="username" placeholder="Username" class="form-control mb-3" />
    <input type="password" name="password" placeholder="********" class="form-control mb-3" />
    <input type="submit" value="Login" class="btn btn-primary" />
</form>