@import "_colors.scss";

@import "../bootstrap/_functions.scss";
@import "../bootstrap/_mixins.scss";
@import "../bootstrap/_variables.scss";

@import "_header.scss";

$primary: theme-color("primary");

body {
    background-color: $gray-100;
    color: #333;
}

%color-main {
    background-color: $primary;
    color: white;
}

%group {
    border: 3px solid $primary;
    border-radius: 5px;
}

%group-item {
    border-bottom: 1px solid $primary;
    margin: 0;
    padding: 0.25rem 0.75rem;
}

.forum-group {
    @extend %group;

    .forum-group-name {
        @extend %color-main;
        padding: 0.25rem 0.75rem;
    }

    ul.forums {
        display: block;
        margin: 0;
        padding: 0;

        > li {
            display: block;
            @extend %group-item;
            list-style: none;

            a:hover {
                text-decoration: none;
            }

            .forum-name {
                color: $primary;
                font-weight: bold;
            }

            .forum-description {
                color: $gray-700;
            }
        }

        > li:hover {
            background-color: rgba(128, 128, 128, 0.1);
        }

        > li:last-child {
            border-bottom: none;
        }
    }
}

.thread-main {
    margin-bottom: 1rem;
}

.post-group {


    .post {
        background-color: rgba(128, 128, 128, 0.1);
        margin: 0.25rem 0;
        padding: 0.25rem 0.75rem;
    }
}