@import "_colors.scss";
@import "../bootstrap/bootstrap.scss";

$primary: theme-color("primary");

body {
    background-color: $gray-100;
    color: #333;
}

%color-main {
    background-color: $primary;
    color: white;
}

@import "_header.scss";

.forum-group {
    border: 3px solid $primary;
    border-radius: 5px;

    .forum-group-name {
        @extend %color-main;
        padding: 0.25rem 0.75rem;
    }

    ul.forums {
        display: block;
        margin: 0;
        padding: 0;

        > li {
            display: block;
            border-bottom: 1px solid $primary;
            list-style: none;
            margin: 0;
            padding: 0.25rem 0.75rem;

            a:hover {
                text-decoration: none;
            }

            .forum-name {
                color: $primary;
                font-weight: bold;
            }

            .forum-description {
                color: $gray-700;
            }
        }

        > li:hover {
            background-color: rgba(128, 128, 128, 0.1);
        }

        > li:last-child {
            border-bottom: none;
        }
    }
}