@using Final.PL.Models;
@{
    Page.Title = "Index";
    Layout = "~/Layouts/_MainLayout.cshtml";
}

@if (User.Identity.IsAuthenticated)
{
    <p>
        <a class="btn btn-primary" role="button" data-toggle="collapse" href="#new-thread-form" aria-expanded="false" aria-controls="new-thread-form">
            Create new thread
        </a>
        @if (User.IsInRole("Admin"))
        {
            <a class="btn btn-primary" href="~/Pages/AdminPanel">
                Admin panel
            </a>
        }
    </p>
    <form action="~/Pages/NewThread" method="post" class="collapse" id="new-thread-form">
        <div class="form-group">
            <input type="text" required class="form-control form-control-lg" name="title" placeholder="Title" />
        </div>
        <div class="form-group">
            <textarea required class="form-control" name="message" placeholder="Text"></textarea>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Create" />
        </div>
    </form>
}

<div class="forum-group">
    <div class="forum-group-name">
        Main categories
    </div>
    <ul class="forums">
        @foreach (var thread in AppData.ForumThreadLogic.GetAll())
        {
            <li>
                <a href="~/Pages/Thread/@thread.Id">
                    <div class="forum-name">@thread.Title</div>
                    @{
                        string authorName = AppData.GetContentAuthorName(thread.AuthorId);
                    }
                    <div class="forum-description">By @authorName</div>
                </a>
            </li>
        }
    </ul>
</div>