@using System.Security.Cryptography;
@using System.Text;
@{
    Page.Title = "Index";
    Layout = "~/Layouts/_MainLayout.cshtml";

    string input = "password";
    string hash;
    using (var md5 = MD5.Create())
    {
        byte[] data = md5.ComputeHash(Encoding.UTF8.GetBytes(input));
        var sBuilder = new StringBuilder();
        for (var i = 0; i < data.Length; i++)
        {
            sBuilder.Append(data[i].ToString("x2"));
        }
        hash = sBuilder.ToString();
    }
}

<div class="forum-group">
    <div class="forum-group-name">
        Main categories
    </div>
    <ul class="forums">
        <li>
            <a href="#">
                <div class="forum-name">Forum name</div>
                <div class="forum-description">Description goes here</div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="forum-name">Forum name</div>
                <div class="forum-description">Description goes here</div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="forum-name">Forum name</div>
                <div class="forum-description">Description goes here</div>
            </a>
        </li>
    </ul>
</div>